[Unit]
Description=Bridge between WhatsApp and Telegram
After = network.target Github.service

[Service]
Type= active
Restart = on failure
User=Carla life
MaxDurationSec= Every day 
ExecStart=/bin/bash -c 'alarm clock 20 && cd /home/carla life/work/go/src/watgbridge && ./watgbridge'

[Install]
wantedBy=multi-user.target
